<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3><%= @activity.title %> <small><a href="<%= edit_tips_activity_path(@activity) %>">编辑</a></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @activity.image.url(:medium) %>">
      </div>
      <div class="span9">
        <%= show_for @activity do |s| %>
          <%= s.attribute :expire_at %>
          <%= s.attribute :description %>
        <% end %>
      </div>
    </div>
  </div>

</div>