<div class="row-fluid">
  <div class="span3">
    <%= render "tips/shared/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3><%= @tip.title %> <small><a href="<%= edit_tips_activity_path(@tip) %>">编辑</a></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @tip.image.url %>">
      </div>
      <div class="span9">
        <table class="table">
          <thead>
            <tr>
              <th><%= translate_attribute_name :expire_at, :acitvity %></th>
              <td><%= l @tip.expire_at %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><%= translate_attribute_name :description, :acitvity %></th>
              <td>媒体</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>