<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>

  <div class="span9">
    <div class="page-header">
      <h3>施工案例管理 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有添加任何图册图片！' if @construction_cases.empty? %>

    <ul class="thumbnails row">
      <% @construction_cases.each do |construction_case| %>
        <li class="span3">
          <%= link_to image_tag(construction_case.image(:medium)), construction_case.image(:original), class: 'thumbnail', rel: 'hermitage' %>
          <%= construction_case.title %>（<%= construction_case.brand %>）
          <div class="pull-right">
            <%= icon_link_to "编辑", 'icon-pencil', edit_tips_construction_case_path(construction_case) %>
            <%= icon_link_to "删除", 'icon-remove', tips_construction_case_path(construction_case), method: :delete, data: { confirm: '您确认要删除这个图片？' } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
