<%= simple_form_for(@buying_advice, url: weixin_current_user_buying_advice_path(area_id: @main_area_id, brand2_id: @brand2_id)) do |f| %>
  <div class="card">
    <ul class="table-view table-view-block">
      <% @main_area_id ||= @user.main_area_id %>
      <% @main_area_id = @main_area_id.to_i %>
      <% @area_ids = (@main_area_id*100)..(@main_area_id*100+99) %>
      <% @brand2_id ||= @buying_advice.rbrand3.brand2_id %>
      <% brand2 = Category::Brand2.find(@brand2_id) %>

      <li class="table-view-cell image-half-center">
        <%= image_tag brand2.image.url(:medium) %>
        <div class="text-center"><%= brand2.name %></div>
      </li>
      <li class="table-view-cell input-row">
        <% brand3s = Category::Brand3.where(brand2_id: brand2) %>
        <%= f.input :brand3_id, collection: brand3s.to_select %>
      </li>
      <li class="table-view-cell input-row"><%= f.input :buying_at_id, collection: Tips::BuyingAdvice::BuyingAt.to_select %></li>
      <li class="table-view-cell input-row"><%= f.input :buying_pattern_id, collection: Tips::BuyingAdvice::BuyingPattern.to_select %></li>
      <li class="table-view-cell input-row"><%= f.input :license, collection: [["有", true], ["无", false]], as: :radio_buttons %></li>
    </ul>
  </div>
  
  <div class="card-no-border text-center">
    <p>已有 <%= Tips::BuyingAdvice.where(brand3_id: brand3s).count %> 人正在汽车堂购买 <%= brand2.name %></p>
    <p><%= Tips::SellingBrand.where(brand_id: brand2.brand_id).count %> 家认证经销商将竞相报价</p>
  </div>

  <div class="card-no-border">
    <button class="btn btn-positive btn-block">让经销商报价</button>
  </div>

<% end %>