<% content_for :title do %>
  我的预约订单
<% end %>

<% if @orders.empty? %>
  <%= render 'share/alert', message: '您还没有预约过保养专修！' %>
<% else %>
  <div class="card">
    <ul class="table-view table-view-block">
      <% @orders.each do |order| %>
        <li class="table-view-cell">
          <%= order.title %>
          <p>汽车品牌：<%= order.brand %></p>
          <p>汽车型号：<%= order.series %></p>
          <p>车牌号：<%= order.plate_num %></p>
          <p>到店时间：<%= l order.arrive_at, format: :long %></p>
          <p>预约项目：<%= order.mending_type %></p>
          <p>预约内容：<%= order.description %></p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
