<%= simple_form_for(@order, url: weixin_dealer_mending_orders_path(@dealer, action: :create_confirmation), as: :order) do |f| %>
  <%= devise_error_messages! @order %>
  <div class="card">
    <ul class="table-view table-view-block">
      <li class="table-view-cell input-row"><%= f.input :arrive_at, input_html: { readonly: true } %></li>
      <li class="table-view-cell input-row"><%= f.input :mending_type_id, collection: Tips::MendingOrderDetail::MendingType.to_select, selected: 1 %></li>
      <li class="table-view-cell input-row"><%= f.input :description %></li>
    </ul>
  </div>
  <div class="card">
    <ul class="table-view table-view-block">
      <li class="table-view-cell input-row Category::Brand.to_select">
      	<%brands = (Category::Brand.find (@mending.brand_ids)).map{|b|[b.name,b.id]}%>
      	<%collect = brands.blank? ? [[Category::Brand.last.name,Category::Brand.last.id]] : brands%>
      	
        <%= f.input :brand_id, collection: collect.uniq, :include_blank => false%>
      </li>
      <li class="table-view-cell input-row"><%= f.input :series %></li>
      <li class="table-view-cell input-row"><%= f.input :plate_num %></li>
    </ul>
  </div>
  
  <div class="card-no-border">
    <%= f.hidden_field :source_id, value: @mending.id %>
    <button class="btn btn-positive btn-block">确认预约</button>
  </div>
<% end %>

<%= javascript_include_tag "pikaday" %>
<script>
  var field = document.getElementById('order_arrive_at');
  var timepicker = new Pikaday({
    field: field,
    showTime: true,
    use24hour: true,
    i18n: i18n,
    format: "yyyy-mm-dd HH:MM"
  });
</script>
