<div class="row-fluid">
  <div class="span3">
    <%= render "statistic/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>保养专修评价列表 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有设置专修车型！' if @mending.brands.empty? %>
    
    <% @grouped_orders = @mending.orders_group_by_brand_and_type %>
    <% @grouped_reviews = @mending.reviews_group_by_brand_and_type %>
    <table class="table">
      <thead>
        <tr>
          <th><%= translate_attribute_name :brands, :'tips/mending' %></th>
          <th><%= translate_attribute_name :mending_type, :'tips/mending' %></th>
          <th><%= translate_attribute_name :orders_count, :'tips/mending' %></th>
          <th><%= translate_attribute_name :stars, :'tips/mending' %></th>
          <th><%= translate_attribute_name :recent_stars, :'tips/mending' %></th>
        </tr>
      </thead>
      <tbody>
        <% Category::Brand.all.each do |brand| %>
          <% if @grouped_orders[brand.id] %>
            <% @types.each do |type_id, type| %>
              <% orders = @grouped_orders[brand.id][type_id] %>
              <% reviews = @grouped_reviews[brand.id][type_id] || [] %>
              <tr>
                <% if type_id == 1 %>
                  <td rowspan="<%= @types.count %>"><%= brand.name %></td>
                <% end %>
                <td><%= type %></td>
                <td><%= format_nil orders.try(:count) %></td>
                <td><%= mean_stars reviews %></td>
                <td><%= mean_stars recent reviews %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>