<% content_for :title do %>
  保养专修详情
<% end %>

<% @mending ||= Tips::Mending.new %>
<h3 class="content-padded">预约独享优惠</h3>
<div class="card">
  <table class="table-view">
    <tr>
      <th></th>
      <th>优惠时段</th>
      <th>工时优惠</th>
      <th>零件优惠</th>
    </tr>
    <% Category::Day.all.each do |day, name| %>
      <tr>
        <% discount = OpenStruct.new @mending.discount[name] %>
        <td>周<%= t('date.abbr_day_names')[day%7] %></td>
        <td><%= discount.discount_during %></td>
        <td><%= discount.man_hours_discount %></td>
        <td><%= discount.spare_parts_discount %></td>
      </tr>
    <% end %>
  </table>
</div>
<h3 class="content-padded">专修品牌</h3>
<div class="card">
  <ul class="table-view table-view-block">
    <% @mending.brands.each do |brand| %>
      <li class="table-view-cell"><%= brand %></li>
    <% end %>
  </ul>
</div>
<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">
      售后服务热线
      <span class="pull-right">
        <a href="tel:<%= @dealer.postsale_phone %>"><%= @dealer.postsale_phone %></a>
      </span>
    </li>
  </ul>
</div>
<div class="card-no-border">
  <%= link_to "马上预约", new_weixin_dealer_mending_order_path(@dealer), class: "btn btn-positive btn-block" %>
</div>