<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>保养专修订单列表 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有收到保养专修订单！' if @orders.empty? %>

    <% @orders = @orders.includes(:detail).page(params[:page]) %>

    <%= index_for @orders, class: :table do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :title %>
      <%= t.attribute :brand, in: :detail %>
      <%= t.attribute :series, in: :detail %>
      <%= t.attribute :plate_num, in: :detail %>
      <%= t.attribute :arrive_at, in: :detail, format: :short %>
      <%= t.attribute :cost %>
      <%= t.attribute :state %>
    <% end %>

    <%= paginate @orders %>

  </div>
</div>