<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>保养专修订单列表 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有收到保养专修订单！' if @orders.empty? %>

    <% @orders = @orders.includes(:detail) %>
    <table class="table">
      <thead>
        <tr>
          <th><%= translate_attribute_name :id, :order %></th>
          <th><%= translate_attribute_name :title, :order %></th>
          <th><%= translate_attribute_name :brand, :order %></th>
          <th><%= translate_attribute_name :series, :order %></th>
          <th><%= translate_attribute_name :plate_num, :order %></th>
          <th><%= translate_attribute_name :arrive_at, :order %></th>
          <th><%= translate_attribute_name :price, :order %></th>
          <th><%= translate_attribute_name :state, :order %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.title %></td>
            <td><%= order.detail.brand %></td>
            <td><%= order.detail.series %></td>
            <td><%= order.detail.plate_num %></td>
            <td><%= l order.detail.arrive_at, format: :short %></td>
            <td><%= order.cost %></td>
            <td><%= order.state %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>