<ul class="nav nav-list sidenav affix-top">
  <li<%= active? 'bcst/hosts' %>><a href="<%= bcst_hosts_path %>"><i class="icon-chevron-right"></i> 主持人</a></li>

  <li<%= active? 'bcst/programme_lists' %>><a href="<%= bcst_programme_list_path %>"><i class="icon-chevron-right"></i> 节目单</a></li>

  <li<%= active? 'bcst/programmes' %>><a href="<%= bcst_programmes_path %>"><i class="icon-chevron-right"></i> 节目板块</a></li>
</ul>

<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>业务板块</strong></span></li>

  <li<%= active? 'bcst/exposures' %>><a href="<%= bcst_exposures_path %>"><i class="icon-chevron-right"></i> 路况信息</a></li>

  <li<%= active? 'bcst/traffic_reports' %>><a href="<%= bcst_traffic_reports_path %>"><i class="icon-chevron-right"></i> 曝光台</a></li>
</ul>
