<% content_for :title do %>
  服务项目详情
<% end %>

<div class="card">
  <ul class="table-view">
    <li class="table-view-cell"><%= @cleaning.title %></li>
    <li class="table-view-cell">会员价：<%= @cleaning.vip_price %>元 原价：<%= @cleaning.price %>元</li>
  </ul>
</div>
<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">评分：<%= print_stars @cleaning.stars, false %></li>
    <li class="table-view-cell redcolor">交易达成率：<%= @cleaning.goal_attainment %>%</li>
    <li class="table-view-cell"><%= @cleaning.orders_count %>个人已购买</li>
  </ul>
</div>
<%= render 'weixin/share/dealer_info' %>
<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">项目介绍</li>
    <li class="table-view-cell">
      套餐内容
      <%= simple_format(@cleaning.description) %>
    </li>
  </ul>
</div>
<% @source = @cleaning %>
<% @orders = @cleaning.orders.includes(:user).last(3) %>
<%= render 'weixin/share/orders_list' %>
<% @reviews = @cleaning.reviews.includes(order: :user).last(3) %>
<%= render 'weixin/share/reviews_list' %>
