<div class="row-fluid">
  <% case @user_type %>
  <% when :provider, :dealer, :admin %>
    <div class="span3">
      <%= render "settings/sidenav/#{@user_type}" %>
    </div>
    <div class="span9">
  <% else %>
    <div class="span12">
  <% end %>
    <div class="page-header">
      <h3>编辑基本信息 <small></small></h3>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal', multipart: true }) do |f| %>
      <div class="row-fluid">
        <div class="span12">
          <%= devise_error_messages! %>
          
          <%= f.input :mobile, autofocus: true do %>
            <label><%= resource.mobile %></label>
          <% end %>

          <hr>
          <div class="control-group">
            <label class="control-label" for="user_current_password"><strong>重设密码</strong></label>
          </div>

          <%= f.input :current_password %>
          <%= f.input :password, label: '新密码' %>
          <%= f.input :password_confirmation, hint: '重设密码，如不需重设请留空' %>

          <hr>
          <div class="control-group">
            <label class="control-label" for="user_current_password"><strong>编辑基本信息</strong></label>
          </div>

          <%= f.input :username, required: true %>
          <%= f.input :avatar do %>
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;"><img src="<%= resource.avatar.url(:medium) %>" /></div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 20px;"></div>
              <div>
                <span class="btn btn-file"><span class="fileupload-new">更换图片</span><span class="fileupload-exists">更换</span><input type="file" name="user[avatar]" /></span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
              </div>
            </div>
          <% end %>
          
          <% if resource.user_type == :dealer %>
          
            <input name="user[user_type_id]" type="hidden" value="1">
            <%= f.simple_fields_for :detail do |ff| %>
              <%= ff.input :dealer_type_id, collection: Auth::DealerDetail::DealerTypes.each_with_index, wrapper_html: { class: "dealer" } %>
              <%= ff.input :business_scope_ids, collection: Auth::DealerDetail::BusinessScopes.each_with_index, as: :check_boxes, wrapper_html: { class: "dealer" } %>
              <%= ff.input :company, input_html: { class: 'input-xlarge' }, wrapper_html: { class: "dealer provider" } %>
              <%= ff.input :address, input_html: { class: 'input-xxlarge' }, wrapper_html: { class: "dealer" } %>
              <%= ff.input :phone, wrapper_html: { class: "dealer provider" } %>
              <%= ff.input :open_during, input_html: { data: { mask: '99:99 至 99:99' }}, wrapper_html: { class: "dealer" }, hint: '填数字即可，例如：09:00 至 18:00' %>
              <%= ff.input :authentication_image, wrapper_html: { class: "dealer" } do %>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">更换</span><input type="file" name="user[detail_attributes][authentication_image]" /></span>
                  <span class="fileupload-preview"></span>
                  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                </div>
              <% end %>
            <% end %>

          <% elsif resource.user_type == :provider %>

            <input name="user[user_type_id]" type="hidden" value="0">
            <%= f.simple_fields_for :detail do |ff| %>
              <%= ff.input :company, input_html: { class: 'input-xlarge' }, wrapper_html: { class: "dealer provider" } %>
              <%= ff.input :phone, wrapper_html: { class: "dealer provider" } %>
            <% end %>

          <% end %>

          <%= f.input :description, input_html: { rows: 4, class: 'input-xxlarge' } %>

        </div>
      </div>
      
      <%= f.button :submit, class: 'btn-submit' %>
    <% end %>
  </div>
</div>