<div class="row-fluid">
  <% case @user_type %>
  <% when :provider, :dealer, :admin %>
    <div class="span3">
      <%= render "settings/sidenav/#{@user_type}" %>
    </div>
    <div class="span9">
  <% else %>
    <div class="span12">
  <% end %>
    <div class="page-header">
      <h3>编辑基本信息 <small></small></h3>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal'  }) do |f| %>
      <div class="row-fluid">
        <div class="span6">
          <%= devise_error_messages! %>

          <%= f.input :mobile, autofocus: true %>
          <%= f.input :username %>
          <%= f.input :avatar do %>
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;"><img src="<%= resource.avatar_url %>" /></div>
              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 20px;"></div>
              <div>
                <span class="btn btn-file"><span class="fileupload-new">更换图片</span><span class="fileupload-exists">更换</span><input type="file" /></span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
              </div>
            </div>
          <% end %>
          
          <% if resource.user_type == :dealer %>
          
            <%= f.input :user_type_id, collection: %w(媒体 汽车服务商).each_with_index, as: :hidden %>
            <%= f.simple_fields_for :detail do |ff| %>
              <%= ff.input :dealer_type_id, required: false, collection: Auth::DealerInfo::DealerTypes.each_with_index, wrapper_html: { class: "dealer" } %>
              <%= ff.input :business_scope_ids, collection: Auth::DealerInfo::BusinessScopes.each_with_index, as: :check_boxes, wrapper_html: { class: "dealer" } %>
              <%= ff.input :company, required: false, input_html: { class: 'input-xlarge' }, wrapper_html: { class: "dealer provider" } %>
              <%= ff.input :address, required: false, input_html: { class: 'input-xxlarge' }, wrapper_html: { class: "dealer" } %>
              <%= ff.input :phone, required: false, wrapper_html: { class: "dealer provider" } %>
              <%= ff.input :open, required: false, input_html: { data: { mask: '99:99 至 99:99' }}, wrapper_html: { class: "dealer" }, hint: '例如：09:00 至 18:00' %>
              <%= ff.input :reg_img, required: false, wrapper_html: { class: "dealer" } do %>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">更换</span><input type="file" /></span>
                  <span class="fileupload-preview"></span>
                  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                </div>
              <% end %>
            <% end %>

          <% elsif resource.user_type == :provider %>

            <%= f.input :user_type_id, collection: %w(媒体 汽车服务商).each_with_index, as: :hidden %>
            <%= f.simple_fields_for :detail do |ff| %>
              <%= ff.input :company, required: false, input_html: { class: 'input-xlarge' }, wrapper_html: { class: "dealer provider" } %>
              <%= ff.input :phone, required: false, wrapper_html: { class: "dealer provider" } %>
            <% end %>

          <% end %>

          <%= f.input :description, input_html: { rows: 4, class: 'input-xxlarge' } %>

        </div>
      </div>
      
      <%= f.button :submit, class: 'btn-submit' %>
    <% end %>
  </div>
</div>