<div class="page-header">
  <h3>公众号注册 <small></small></h3>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <div class="row-fluid">
    <div class="span6">
      <%= devise_error_messages! %>

      <%= f.input :mobile, autofocus: true, required: true %>
      <%= f.input :username %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :avatar do %>
        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;"><img src="/images/medium/missing.png" /></div>
          <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 20px;"></div>
          <div>
            <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">更换</span><input type="file" name="user[avatar]" /></span>
            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
          </div>
        </div>
      <% end %>
      <%= f.input :user_type_id, collection: %w(媒体 汽车服务商).each_with_index %>

      <%= f.simple_fields_for :detail do |ff| %>
        <%= ff.input :dealer_type_id, collection: Auth::DealerDetail::DealerTypes.each_with_index, wrapper_html: { class: "dealer" }, required: true %>
        <%= ff.input :business_scope_ids, collection: Auth::DealerDetail::BusinessScopes.each_with_index, as: :check_boxes, wrapper_html: { class: "dealer" }, required: true %>
        <%= ff.input :company, input_html: { class: 'input-xlarge' }, wrapper_html: { class: "dealer provider" }, required: true %>
        <%= ff.input :address, input_html: { class: 'input-xxlarge' }, wrapper_html: { class: "dealer" }, required: true %>
        <%= ff.input :phone, wrapper_html: { class: "dealer provider" }, required: true %>
        <%= ff.input :open_during, input_html: { data: { mask: '99:99 至 99:99' }}, wrapper_html: { class: "dealer" }, hint: '填数字即可，例如：09:00 至 18:00', required: true %>
        <%= ff.input :authentication_image, wrapper_html: { class: "dealer" }, required: true do %>
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">更换</span><input type="file" name="user[detail_attributes][authentication_image]" /></span>
            <span class="fileupload-preview"></span>
            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
          </div>
        <% end %>
      <% end %>
      
      <%= f.input :description, input_html: { rows: 4, class: 'input-xxlarge' } %>

    </div>

    <div class="span6 right-box">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
  <%= f.button :submit, "创建公众号", class: 'btn-submit' %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
  $user_type = $("#user_user_type_id")
  function prepare_detail_inputs() {
    $(".control-group").filter(".provider, .dealer").hide()
    if($user_type.val() === "0") {
      $(".control-group").filter(".provider").show()
    } else if($user_type.val() === "1") {
      $(".control-group").filter(".dealer").show()
    }
  }
  $(document).ready(function() {
    prepare_detail_inputs()
    $user_type.change(prepare_detail_inputs)
  })
  </script>
<% end %>
