<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>曝光台 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有收到任何曝光信息！' if @exposures.empty? %>
    
    <% @exposures = @exposures.includes(:provider) if @user.admin? %>
    <% @exposures = @exposures.includes(:user, :at_user).page(params[:page]) %>

    <%= index_for @exposures do |t| %>
      <%= t.attribute :id %>
      <%= t.association :provider, using: :username if @user.admin? %>
      <%= t.association :user, using: :username %>
      <%= t.attribute :content %>
      <%= t.attribute :image do |image| %>
        <%= image_tag(image.url(:thumb)) %>
      <% end %>
      <%= t.attribute :created_at, format: :short %>
      <%= t.actions :destroy if @user.admin? %>
    <% end %>

    <%= paginate @exposures %>


  </div>

</div>