<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>系统统计</strong></span></li>
  <li<%= active? 'cheyouhui/statistics/dealers' %>><a href="<%= cheyouhui_statistics_dealers_path %>"><i class="icon-chevron-right"></i> 服务商数据</a></li>
  <li<%= active? 'cheyouhui/statistics/users' %>><a href="<%= cheyouhui_statistics_users_path %>"><i class="icon-chevron-right"></i> 关注用户数据统计</a></li>
</ul>

<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>业务管理以及订单</strong></span></li>
  <li<%= active? 'free_tickets' %>><a href="<%= free_tickets_cheyouhui_business_dealers_path %>"><i class="icon-chevron-right"></i> 免费券列表</a></li>
  <li<%= active? 'groupons_cheyouhui_business_dealers_path' %>><a href="<%= groupons_cheyouhui_business_dealers_path %>"><i class="icon-chevron-right"></i> 团购券列表</a></li>
  <li<%= active? 'type=cleaning' %>><a href="<%= cleanings_cheyouhui_business_dealers_path(type: "cleaning") %>"><i class="icon-chevron-right"></i> 洗车券列表</a></li>
  <li<%= active? 'type=mending' %>><a href="<%=cleanings_cheyouhui_business_dealers_path(type: "mending") %>"><i class="icon-chevron-right"></i> 保养券列表</a></li>
</ul>
<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>系统设置</strong></span></li>
  <li<%= active? 'accounts/users' %>><a href="<%= cheyouhui_settings_path %>"><i class="icon-chevron-right"></i> 个人资料编辑</a></li>
 
  <li<%= active? 'accounts/candidates#mechanic' %>><a href="<%= cheyouhui_settings_path %>"><i class="icon-chevron-right"></i> 车友会二维码下载</a></li>
</ul>

