<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>易卖车询价订单列表 <small></small></h3>
    </div>

    <% @buying_advices = @buying_advices.includes(:user) %>

    <%= render 'share/alert', message: '您还没有收到任何订单！' if @buying_advices.empty? %>

    <%= index_for @buying_advices, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.association :user, using: :username %>
      <%= t.attribute :brand3 %>
      <%= t.attribute :buying_at %>
      <%= t.attribute :buying_pattern %>
      <%= t.attribute :license %>
      <%= t.attribute :state %>
    <% end %>

  </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    window.disableDataTable = true;

    function truncate(str) {
      if (str.length > 15) {
        return str.substring(0, 15)+'...';
      } else {
        return str;
      }
    }

    /* Formating function for row details */
    function fnFormatDetails(oTable, nTr) {
      var iAdviceId = $(oTable.fnGetData(nTr)[1]).text(),
          aOrderData = <%== Tips::BuyingAdviceOrder.accessible_by(current_ability, :manage).group_by(&:buying_advice_id).to_json %>[iAdviceId] || [];

      var sOut = '<h4>报价记录 <small><a href="/tips/buying_advices/'+iAdviceId+'/buying_advice_orders/new">添加新的报价</a></small></h4>';
      if (aOrderData.length > 0) {
        sOut += '<table class="table">';
        sOut += '<thead><tr><th>价格</th><th>详细描述</th><th>销售顾问</th><th>操作</th></tr></thead>';
        sOut += '<tbody>';
        for (var i = aOrderData.length - 1; i >= 0; i--) {
          aData = aOrderData[i];
          sOut += '<tr><td>'+aData['price']+'</td><td>'+truncate(aData['description'])+'</td><td>'+aData['adviser']+'</td><td class="actions"><a href="/tips/buying_advice_orders/'+aData['id']+'/edit"><i class="icon-pencil" rel="tooltip" title="编辑"></i></a><a href="/tips/buying_advice_orders/'+aData['id']+'" data-confirm="您确认要删除这条记录？" data-method="delete"><i class="icon-remove" rel="tooltip" title="删除"></i></a></td></tr>';
        };
        sOut += '</tbody>';
        sOut += '</table>';
      }

      return sOut;
    }
     
    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<i class="icon-plus-sign">';
      nCloneTd.className = "center";
       
      $('.datatable thead tr').each(function () {
        this.insertBefore(nCloneTh, this.childNodes[0]);
      });
       
      $('.datatable tbody tr').each(function () {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
      });
       
      /* Add event listener for opening and closing details
       * Note that the indicator for showing which row is open is not controlled by DataTables,
       * rather it is done here
       */
      $('.datatable tbody td i.icon-plus-sign').click(function () {
        var nTr = $(this).parents('tr')[0];
        if (oTable.fnIsOpen(nTr)) {
          /* This row is already open - close it */
          this.className = "icon-plus-sign";
          oTable.fnClose(nTr);
        } else {
          /* Open this row */
          this.className = "icon-minus-sign";
          oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
        }
      });
        
      /*
       * Initialse DataTables, with no sorting on the 'details' column
       */
      var oTable = window.initDataTable();
       
    });

  </script>

<% end %>