<ul class="nav">
  <li<%= active? "dashboards" %>><a href="<%= dashboard_path %>">首页</a></li>
  <li<%= active? "statistic" %>><a href="<%= statistic_dashboard_path %>">系统数据</a></li>
  <li<%= active? "accounts" %>><a href="<%= accounts_admins_path %>">用户管理</a></li>
  <li<%= active? "business" %>><a href="<%= business_advert_path %>">业务管理</a></li>
  <li<%= active? "category" %>><a href="<%= category_brands_path %>">分类管理</a></li>
  <li<%= active? "content" %>><a href="<%= posts_posts_path %>">内容模块管理</a></li>
</ul>