<ul class="nav">
  <li<%= active? "dashboards" %>><a href="<%= dashboard_path %>">首页</a></li>
  <li<%= active? "admins/advertisements" %>><a href="<%= admins_advertisements_path %>">系统数据</a></li>
  <li<%= active? "admins/dealers" %>><a href="<%= admins_dealers_path %>">用户管理</a></li>
  <li<%= active? "admins/tips" %>><a href="<%= admins_tips_root_path %>">业务管理</a></li>
  <li<%= active? "admins/users" %>><a href="<%= admins_users_path %>">分类管理</a></li>
  <li<%= active? "admins/admins" %>><a href="<%= admins_admins_path %>">内容模块管理</a></li>
</ul>