<ul class="nav">
  <li<%= active? "dashboard" %>><a href="<%= dashboard_path %>">首页</a></li>
  <li<%= active? "statistic" %>><a href="<%= cheyouhui_statistics_dealers_path %>">系统数据</a></li>
  <li<%= active? "business" %>><a href="<%= cheyouhui_business_dealers_path %>">业务管理</a></li>
  <li<%= active? "settings" or active? "accounts/registrations#edit" %>><a href="<%= cheyouhui_settings_path %>">设置</a></li>
</ul>