<ul class="nav">
  <li<%= active? "dashboards" %>><a href="<%= dashboard_path %>">首页</a></li>
  <li<%= active? "statistic" %>><a href="<%= statistic_dealer_friends_path %>">客户管理</a></li>
  <li<%= active? "tips" %>><a href="<%= tips_root_path %>">业务管理</a></li>
  <li<%= active? "settings" or active? "accounts/registrations#edit" %>><a href="<%= setting_path %>">设置</a></li>
</ul>