<div class="row-fluid">
  <div class="span3">
    <%= render "sidenav" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>经销商大全 <small><%= [Accounts::DistributorDetail::BusinessScope[@business_scope_id], Category::Product[@product_id], Category::Area::Main[@main_area_id]].select{|v|v.present?}.join('、') %></small></h3>
    </div>

    <% @distributors = @distributors.includes(:detail) %>
    <% @details = @distributors.map(&:detail) %>

    <p>
      品牌：
      <% @products = @details.map(&:products).flatten.group_by(&:to_s).map{|k,v|[k, v.length]} %>
      <% @products.each do |product, count| %>
        <%= link_to "#{product}(#{count}个)", distributors_path(business_scope_id: @business_scope_id, product_id: Category::Product[product], main_area_id: @main_area_id) %>
      <% end %>
    </p>

    <p>
      所属省份：
      <% @main_areas = @distributors.map(&:main_area).group_by(&:to_s).map{|k,v|[k, v.length]} %>
      <% @main_areas.each do |main_area, count| %>
        <%= link_to "#{main_area}(#{count}个)", distributors_path(business_scope_id: @business_scope_id, product_id: @product_id, main_area_id: Category::Area::Main[main_area]) %>
      <% end %>
    </p>

    <%= index_for @distributors, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :company, in: :detail %>
      <%= t.attribute :products, join: '、', in: :detail %>
      <%= t.attribute :phone, in: :detail %>
      <%= t.action_link :show do |distributor| %>
        <%= icon_link_to "查看详情", 'icon-search', distributor_path(distributor) %>
      <% end %>
    <% end %>

  </div>
</div>