<div class="card">
  <ul class="table-view">
    <li class="table-view-cell"><%= @vip_card.title %></li>
    <li class="table-view-cell">会员价：<%= @vip_card.vip_price %>元 原价：<%= @vip_card.price %>元</li>
  </ul>
</div>
<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">评分：<%= print_stars @vip_card.stars, false %></li>
    <li class="table-view-cell redcolor">交易达成率：<%= @vip_card.goal_attainment %>%</li>
    <li class="table-view-cell"><%= @vip_card.orders_count %>个人已购买</li>
  </ul>
</div>
<%= render 'weixin/share/dealer_info' %>
<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">项目介绍</li>
    <li class="table-view-cell">
      套餐内容
      <%= simple_format(@vip_card.description) %>
    </li>
  </ul>
</div>
<% @source = @vip_card %>
<% @orders = @vip_card.orders.includes(:user).last(3) %>
<%= render 'weixin/share/orders_list' %>
<% @reviews = @vip_card.reviews.includes(order: :user).last(3) %>
<%= render 'weixin/share/reviews_list' %>
