<% content_for :title do %>
  产品图册
<% end %>

<% @category = params[:category] %>
<% @manual_images = @manual_images.where(category: @category) %>

<div class="card">
  <table class="table-view table-no-header table-layout-fixed">
    <tr><td class="text-left table-view-cell" colspan="3"><%= @category %></td></tr>
    <% @manual_images.each_slice(3) do |manual_images| %>
      <tr>
        <% manual_images.each do |manual_image| %>
          <td>
            <%= link_to manual_image.image.url(:original), rel: 'hermitage', data: { transition: "slide-in" } do %>
              <%= image_tag manual_image.image.url(:medium) %>
              <%= manual_image.title %>
            <% end %>
          </td>
        <% end %>
        <% (3 - manual_images.length).times do %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<%= javascript_include_tag "gallery" %>
