<div class="row-fluid">
  <div class="span3">
       <%= render "/cheyouhui/shared/left_menu" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3><%#=@name%>服务项目汇总</h3>
    </div>

  
<div class="dl-horizontal dl-span9">
  <dl><strong>车友会服务商</strong></dl>
 
  <%#= @dealers.each do |dealer|%>

   <%=index_for @dealers,class: "datatable" do |t|%>
    <%= t.attribute :id %>
    <%= t.attribute :mobile %>
    <%= t.attribute :recent_total_cost %> 
    <%= t.attribute :recent_ordered_users_count %> 
  <%end%>
  <%#end%>
 
 
  
</div>



  </div>
</div>