<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <% if @bulk_purchasing2 %>
        <h3>团购 “<%= @bulk_purchasing2.title %>” 订单列表 <small></small></h3>
      <% else %>
        <h3>团购订单列表 <small></small></h3>
      <% end %>
    </div>

    <%= render 'share/alert', message: '您还没有收到团购订单！' if @orders.empty? %>

    <%= index_for @orders, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :title %>
      <%= t.attribute :count %>
      <%= t.attribute :cost %>
      <%= t.attribute :state %>
    <% end %>

  </div>
</div>