<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <% if @parent %>
        <h3>洗车美容 “<%= @parent.title %>” 订单列表 <small></small></h3>
      <% else %>
        <h3>洗车美容订单列表 <small></small></h3>
      <% end %>
    </div>

    <%= render 'share/alert', message: '您还没有收到洗车美容订单！' if @orders.empty? %>

    <% @orders = @orders.page(params[:page]) %>

    <%= index_for @orders, class: :table do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :title %>
      <%= t.attribute :count %>
      <%= t.attribute :used_count %>
      <%= t.attribute :cost %>
      <%= t.attribute :state %>
    <% end %>

    <%= paginate @orders %>

  </div>
</div>