<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>保养专修订单列表 <small></small></h3>
    </div>

    <% @orders = @orders.includes(:user, :detail) %>

    <%= render 'share/alert', message: '您还没有收到保养专修订单！' if @orders.empty? %>

    <%= index_for @orders, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.association :user, using: :username %>
      <%= t.attribute :title %>
      <%= t.attribute :brand, in: :detail %>
      <%= t.attribute :series, in: :detail %>
      <%= t.attribute :plate_num, in: :detail %>
      <%= t.attribute :arrive_at, in: :detail, format: :short %>
      <%= t.attribute :mending_type, in: :detail %>
      <%= t.attribute :description, in: :detail %>
      <%= t.attribute :state %>
    <% end %>

  </div>
</div>