<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/provider" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3><%= @bcst.title %> <small><a href="<%= edit_bcst_programme_path(@bcst) %>">编辑</a></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @bcst.avatar.url(:medium) %>">
      </div>
      <div class="span9">
        <table class="table">
          <thead>
            <tr>
              <th><%= translate_attribute_name :hosts, :'bcst/programme' %></th>
              <td><%= @bcst.hosts.map(&:name).join('、') %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><%= translate_attribute_name :description, :'bcst/programme' %></th>
              <td><%= @bcst.description %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="page-header">
      <h3>节目板块评论 <small></small></h3>
    </div>

    <% @comments = @bcst.comments %>
    <%= render 'bcst/share/comments' %>
  </div>

</div>