<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3><%= @programme.title %> <small><a href="<%= edit_bcst_programme_path(@programme) %>">编辑</a></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @programme.avatar.url(:medium) %>">
      </div>
      <div class="span9">
        <%= show_for @programme do |s| %>
          <%= s.association :hosts, using: :name, join: '、' %>
          <%= s.attribute :description %>
        <% end %>
      </div>
    </div>

    <div class="page-header">
      <h3>节目板块评论 <small></small></h3>
    </div>

    <% programme_comments = @programme.comments %>

    <%= render 'share/alert', message: '您还没有收到任何节目板块留言！' if programme_comments.empty? %>

    <%= render 'bcst/share/comments', comments: programme_comments %>

  </div>

</div>