<div class="row-fluid">
  <div class="span3">
    <%= render "users/share/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>洗车美容评价列表 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有创建任何服务项目！' if @cleanings.empty? %>
    
    <% @cleanings = @cleanings.includes :orders, :reviews %>
    <table class="table">
      <thead>
        <tr>
          <th><%= translate_attribute_name :id, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :image, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :title, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :cleaning_type, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :vip_price, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :orders_count, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :stars, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :total_sale, :'tips/cleaning' %></th>
          <th><%= translate_attribute_name :trend_stars, :'tips/cleaning' %></th>
        </tr>
      </thead>
      <tbody>
        <% @cleanings.each do |cleaning| %>
          <tr>
            <td><%= cleaning.id %></td>
            <td><img src="<%= cleaning.image.url(:thumb) %>" /></td>
            <td><%= cleaning.title %></td>
            <td><%= cleaning.cleaning_type %></td>
            <td><%= cleaning.vip_price %></td>
            <td><%= cleaning.orders_count %></td>
            <td><%= cleaning.stars %></td>
            <td><%= cleaning.total_cost %></td>
            <td><%= cleaning.recent_stars %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>