<div class="row-fluid">
  <div class="span3">
    <%= render "users/share/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>洗车美容评价列表 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有创建任何服务项目！' if @cleanings.empty? %>
    
    <% @cleanings = @cleanings.includes(:orders, :reviews).page(params[:page]) %>

    <%= index_for @cleanings, class: :table do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :image do |image| %>
        <%= image_tag(image.url(:thumb)) %>
      <% end %>
      <%= t.attribute :title %>
      <%= t.attribute :cleaning_type %>
      <%= t.attribute :vip_price %>
      <%= t.attribute :orders_count %>
      <%= t.attribute :stars %>
      <%= t.attribute :total_cost %>
      <%= t.attribute :recent_stars %>
    <% end %>

    <%= paginate @cleanings %>

  </div>
</div>