<div class="row-fluid">
  <div class="span3">
    <%= render "users/share/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>保养专修评价列表 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有设置专修车型！' if @mending.brands.empty? %>
    
    <% @grouped_orders = @mending.orders_group_by_brand_and_type %>
    <% @grouped_reviews = @mending.reviews_group_by_brand_and_type %>
    <table class="table">
      <thead>
        <tr>
          <th><%= translate_attribute_name :brands, :'tips/mending' %></th>
          <th><%= translate_attribute_name :mending_type, :'tips/mending' %></th>
          <th><%= translate_attribute_name :orders_count, :'tips/mending' %></th>
          <th><%= translate_attribute_name :stars, :'tips/mending' %></th>
          <th><%= translate_attribute_name :recent_stars, :'tips/mending' %></th>
        </tr>
      </thead>
      <tbody>
        <% @mending.brand_ids.each do |brand_id| %>
          <% @types.each do |type_id, type| %>
            <tr>
              <% if type_id == 1 %>
                <td rowspan="<%= @types.count %>"><%= Share::Brand[brand_id] %></td>
              <% end %>
              <td><%= type %></td>
              <td><%= @grouped_orders[brand_id][type_id].count %></td>
              <td><%= mean_stars @grouped_reviews[brand_id][type_id] %></td>
              <td><%= mean_stars recent @grouped_reviews[brand_id][type_id] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>