<div class="row-fluid">
  <div class="span3">
    <%= render "users/inverse_friends/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>保养专修评价列表 <small></small></h3>
    </div>

    <%= render 'shared/alert', message: '您还没有设置专修车型！' if @mending.brands.empty? %>
    
    <% @grouped_orders = @mending.orders_group_by_brand_and_type %>
    <% @grouped_reviews = @mending.reviews_group_by_brand_and_type %>
    <table class="table">
      <thead>
        <tr>
          <th><%= translate_attribute_name :brands, :mending %></th>
          <th><%= translate_attribute_name :mending_type, :mending %></th>
          <th><%= translate_attribute_name :orders_count, :mending %></th>
          <th><%= translate_attribute_name :stars, :mending %></th>
          <th><%= translate_attribute_name :trend_stars, :mending %></th>
        </tr>
      </thead>
      <tbody>
        <% @mending.brand_ids.each do |brand_id| %>
          <% @types.each_with_index do |type, type_id| %>
            <tr>
              <% if type_id == 0 %>
                <td rowspan="<%= @types.count %>"><%= Share::Brandable::Brands[brand_id] %></td>
              <% end %>
              <td><%= type %></td>
              <td><%= @grouped_orders[brand_id][type_id].count %></td>
              <td><%= stars @grouped_reviews[brand_id][type_id] %></td>
              <td><%= stars trend @grouped_reviews[brand_id][type_id] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>