<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/dealer" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>服务项目管理 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有创建任何服务项目！' if @tips.empty? %>

    <% @tips = @tips.page(params[:page]) %>

    <%= index_for @tips, class: :table do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :image do |image| %>
        <%= image_tag(image.url(:thumb)) %>
      <% end %>
      <%= t.attribute :title %>
      <%= t.attribute :cleaning_type %>
      <%= t.attribute :vip_price %>
      <%= t.attribute :price %>
      <%= t.actions :all %>
    <% end %>

    <%= paginate @tips %>

  </div>
</div>