<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>服务项目管理 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有创建任何服务项目！' if @cleanings.empty? %>

    <% @cleanings = @cleanings.includes(:dealer) if @user.admin? %>
    
    <%= index_for @cleanings, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.association :dealer, using: :username if @user.admin? %>
      <%= t.attribute :image do |image| %>
        <%= image_tag(image.url(:small)) %>
      <% end %>
      <%= t.attribute :title %>
      <%= t.attribute :cleaning_type %>
      <%= t.attribute :vip_price %>
      <%= t.attribute :price %>
      <%= t.attribute :state %>
      <%= t.attribute :orders_count %>
      <%= t.action_link :orders do |cleaning| %>
        <%= icon_link_to "浏览订单", 'icon-book', tips_cleaning_orders_path(cleaning) %>
      <% end %>
      <% if @user.admin? %>
        <%= t.action_link :display do |cleaning| %>
          <% if cleaning.displayed? %>
            <%= icon_link_to "隐藏", 'icon-eye-close', hide_tips_cleaning_path(cleaning), method: :put, data: { confirm: '您确认要隐藏这个项目？' } %>
            <% if cleaning.sticked? %>
              <%= icon_link_to "取消置顶", 'icon-chevron-down', unstick_tips_cleaning_path(cleaning), method: :put, data: { confirm: '您确认要取消置顶这个项目？' } %>
            <% else %>
              <%= icon_link_to "置顶", 'icon-chevron-up', stick_tips_cleaning_path(cleaning), method: :put, data: { confirm: '您确认要置顶这个项目？' } %>
            <% end %>
          <% else %>
            <%= icon_link_to "显示", 'icon-eye-open', expose_tips_cleaning_path(cleaning), method: :put, data: { confirm: '您确认要显示这个项目？' } %>
          <% end %>
        <% end %>
        <%= t.actions :destroy %>
      <% else %>
        <%= t.actions :all %>
      <% end %>
    <% end %>

  </div>
</div>