<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>客户端管理</strong></span></li>
  <li<%= active? 'business/client_versions' %>><a href="<%= business_client_versions_path %>"><i class="icon-chevron-right"></i> 客户端版本管理</a></li>
</ul>

<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>广告位管理</strong></span></li>
  <li<%= active? 'business/adverts#client' %>><a href="<%= client_business_adverts_path %>"><i class="icon-chevron-right"></i> 客户端广告位</a></li>
  <li<%= active? 'business/adverts#ad_template' %>><a href="<%= ad_template_business_adverts_path %>"><i class="icon-chevron-right"></i> 广告模板广告位</a></li>
  <li<%= active? 'business/adverts#tutorial' %>><a href="<%= tutorial_business_adverts_path %>"><i class="icon-chevron-right"></i> 在线教程广告位</a></li>
</ul>