<% content_for :title do %>
  汽车堂账号登陆
<% end %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="card">
    <ul class="table-view table-view-block">
      <li class="table-view-cell input-row"><%= f.input :mobile, autofocus: true %></li>
      <li class="table-view-cell input-row"><%= f.input :password %></li>
    </ul>
  </div>
  <% if devise_mapping.rememberable? -%>
    <%= f.hidden_field :remember_me, value: true %>
  <% end %>
  
  <div class="card-no-border">
    <%= f.button :submit, "立即登录", class: 'btn-positive btn-block' %>
  </div>

  <% unless flash[:public_account] %>
    <div class="card-no-border">
      <%= link_to "注册新帐号", new_registration_path(resource_name), class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>

  <div class="btn-group">
    <%= link_to "忘记密码？", new_password_path(resource_name), class: 'btn btn-primary btn-block' %>
    <%= link_to "没有收到验证短信？", new_confirmation_path(resource_name), class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
