<div class="row-fluid">
  <div class="span3">
    <%= render "sidenav" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>在线教程 <small><%= [Business::AdTemplate::ProductType[@product_type_id], Category::Product[@product_id]].select{|v|v.present?}.join('、') %></small></h3>
    </div>

    <p>
      品牌：
      <% @products = @tutorials.map(&:product).group_by(&:to_s).map{|k,v|[k, v.length]} %>
      <% @products.each do |product, count| %>
        <%= link_to "#{product}(#{count}个)", tutorials_path(product_type_id: @product_type_id, product_id: Category::Product[product]) %>
      <% end %>
    </p>

    <%= index_for @tutorials, class: :datatable do |t| %>
      <%= t.attribute :avatar do |avatar| %>
        <%= image_tag(avatar.url(:thumb)) %>
      <% end %>
      <%= t.attribute :product %>
      <%= t.attribute :product_type %>
      <%= t.association :distributor_infos, using: :company, join: '、' %>
      <%= t.action_link :show do |tutorial| %>
        <%= icon_link_to "查看详情", 'icon-search', tutorial_path(tutorial) %>
      <% end %>
    <% end %>

  </div>
</div>