<div class="page-header">
  <h3><%= @tutorial.title %> <small></small></h3>
</div>


<div class="row-fluid">
  <div class="span5">
    <%= show_for @tutorial do |s| %>
      <%= s.attribute :avatar do |avatar| %>
        <%= image_tag(avatar.url(:thumb)) %>
      <% end %>
      <%= s.attribute :product %>
      <%= s.attribute :product_type %>
    <% end %>

    <h3>代理商信息：</h3>

    <% @distributor_infos = @tutorial.distributor_infos %>
    <%= render partial: 'distributor_info', collection: @distributor_infos %>
  </div>
  <div class="span7">
    <%= raw @tutorial.url %>
  </div>
</div>
