<div class="page-header">
  <h3>车主详细信息 <small><a href="<%= edit_admins_user_path(@user) %>">编辑</a></small></h3>
</div>

<div class="row-fluid">
  <div class="span3">
    <img src="<%= @user.avatar.url(:medium) %>">
  </div>
  <div class="span9">
    <table class="table">
      <thead>
        <tr>
          <th><%= translate_attribute_name :username, :'accounts/user' %></th>
          <td><%= @user.username %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= translate_attribute_name :user_type, :'accounts/user' %></th>
          <td>车主</td>
        </tr>
        <tr>
          <th><%= translate_attribute_name :mobile, :'accounts/user' %></th>
          <td><%= @user.mobile %></td>
        </tr>
        <tr>
          <th><%= translate_attribute_name :description, :'accounts/user' %></th>
          <td><%= @user.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>