<%= show_for @user do |s| %>
  <%= s.attribute :username %>
  <%= s.attribute :user_type %>
  <%= s.attribute :mobile %>
  <%= s.attribute :dealer_type, in: :detail %>
  <%= s.attribute :specific_service, in: :detail %>
  <%= s.attribute :business_scopes, in: :detail, join: '、' %>
  <%= s.attribute :company, in: :detail %>
  <%= s.attribute :area %>
  <%= s.attribute :address, in: :detail %>
  <%= s.attribute :phone, in: :detail %>
  <%= s.attribute :open_during, in: :detail %>
  <%= s.attribute :authentication_image, in: :detail do %>
    <%= image_tag(@user.detail.authentication_image.url(:medium)) %>
  <% end %>
  <%= s.attribute :accepted, in: :detail do %>
    <label class="label label-<%= if @user.accepted? then :success else :important end %>"><%= if @user.accepted? then '已通过' else '未通过' end %></label>
  <% end %>
  <%= s.attribute :description %>
<% end %>