<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-list sidenav affix-top">
      <li class="active"><a href="#dropdowns"><i class="icon-chevron-right"></i> 基本信息</a></li>
      <li><span>&nbsp;</span></li>
      <li>
        <span>商家二维码：<img src="<%= rqrcode_setting_path(format: :png) %>"></span>
      </li>
    </ul>
  </div>
  
  <div class="span8">
    <div class="page-header">
      <h3>基本信息 <small></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @user.avatar_url %>">
      </div>
      <div class="span9">
        <table class="table">
          <tbody>
            <tr>
              <th><%= translate_attribute_name :username, :base_user %></th>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <th><%= translate_attribute_name :user_type, :base_user %></th>
              <td>媒体</td>
            </tr>
            <tr>
              <th><%= translate_attribute_name :mobile, :base_user %></th>
              <td><%= @user.mobile %></td>
            </tr>
            <tr>
              <th><%= translate_attribute_name :company, :detail %></th>
              <td><%= @user.detail.company %></td>
            </tr>
            <tr>
              <th><%= translate_attribute_name :phone, :detail %></th>
              <td><%= @user.detail.phone %></td>
            </tr>
            <tr>
              <th><%= translate_attribute_name :description, :base_user %></th>
              <td><%= @user.description %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>