<div class="row-fluid">
  <div class="span3">
    <%= render "settings/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>业务模板管理 <small></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @dealer.avatar.url(:medium) %>">
      </div>
      <div class="span9">
        <%= simple_form_for(@dealer, url: account_registration_path, html: { method: :put, class: 'form-horizontal' }) do |f| %>
          <table class="table">
            <thead>
              <tr>
                <th>业务模板管理</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>洗车美容</th>
                <td><input class="check_boxes" id="account_detail_attributes_template_ids_0" name="account[detail_attributes][template_ids][]" type="checkbox" value="1"<%= "checked=\"checked\"" if @dealer.detail.template_ids.include? 1 %>></td>
              </tr>
              <tr>
                <th>保养专修</th>
                <td><input class="check_boxes" id="account_detail_attributes_template_ids_1" name="account[detail_attributes][template_ids][]" type="checkbox" value="2"<%= "checked=\"checked\"" if @dealer.detail.template_ids.include? 2 %>></td>
              </tr>
              <tr>
                <td class="blank">&nbsp;</td>
              </tr>
              <tr>
                <th class="blank">营销模块管理</th>
              </tr>
              <tr>
                <th>团购</th>
                <td><input class="check_boxes" id="account_detail_attributes_template_ids_2" name="account[detail_attributes][template_ids][]" type="checkbox" value="3"<%= "checked=\"checked\"" if @dealer.detail.template_ids.include? 3 %>></td>
              </tr>
              <tr>
                <th>近期活动</th>
                <td><input class="check_boxes" id="account_detail_attributes_template_ids_3" name="account[detail_attributes][template_ids][]" type="checkbox" value="4"<%= "checked=\"checked\"" if @dealer.detail.template_ids.include? 4 %>></td>
              </tr>
            </tbody>
          </table>

          <input name="account[type]" type="hidden" value="Accounts::Dealer">
          <input name="account[detail_attributes][template_ids][]" type="hidden" value="">

          <input class="btn btn-submit" name="commit" type="submit" value="更新">
        <% end %>
      </div>
    </div>
  </div>

</div>