<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>分类管理</strong></span></li>
  <li<%= active? 'category/brands' %>><a href="<%= category_brands_path %>"><i class="icon-chevron-right"></i> 车型品牌管理</a></li>
  <li<%= active? 'category/brand2s' %>><a href="<%= category_brand2s_path %>"><i class="icon-chevron-right"></i> 车型车系管理</a></li>
  <li<%= active? 'category/brand3s' %>><a href="<%= category_brand3s_path %>"><i class="icon-chevron-right"></i> 车型名称管理</a></li>
  <li<%= active? 'category/products' %>><a href="<%= category_products_path %>"><i class="icon-chevron-right"></i> 产品品牌管理</a></li>
</ul>