<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>路况信息 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有收到任何路况信息！' if @traffic_reports.empty? %>

    <% @traffic_reports = @traffic_reports.includes(:user, :at_user).page(params[:page]) %>

    <%= index_for @traffic_reports do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :username, in: :user %>
      <%= t.attribute :content %>
      <%= t.attribute :image do |image| %>
        <%= image_tag(image.url(:thumb)) %>
      <% end %>
      <%= t.attribute :created_at, format: :short %>
      <% if @user.admin? %>
        <%= t.actions :destroy %>
      <% end %>
    <% end %>

    <%= paginate @traffic_reports %>


  </div>

</div>