<div class="row-fluid">
  <div class="span3">
    <%= render "accounts/share/sidenav/admin" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>服务商管理 <small></small></h3>
    </div>

    <%= index_for @dealers, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :avatar do |avatar| %>
        <%= image_tag(avatar.url(:thumb)) %>
      <% end %>
      <%= t.attribute :mobile %>
      <%= t.attribute :username %>
      <%= t.attribute :area %>
      <%= t.attribute :friends_count %>
      <%= t.attribute :state %>
      <%= t.attribute :rank %>
      <%= t.action_link :accept do |dealer| %>
        <% unless dealer.accepted? %>
          <%= icon_link_to "通过验证", 'icon-ok', accept_accounts_dealer_path(dealer), method: :put, data: { confirm: '您确认要验证这个用户？' } %>
        <% end %>
      <% end %>

      <%= t.action_link :display do |dealer| %>
        <% if dealer.accepted? %>
          <% if dealer.displayed? %>
            <%= icon_link_to "隐藏", 'icon-eye-close', hide_accounts_dealer_path(dealer), method: :put, data: { confirm: '您确认要隐藏这个用户？' } %>
            <% if dealer.sticked? %>
              <%= icon_link_to "取消置顶", 'icon-chevron-down', unstick_accounts_dealer_path(dealer), method: :put, data: { confirm: '您确认要取消置顶这个用户？' } %>
            <% else %>
              <%= icon_link_to "置顶", 'icon-chevron-up', stick_accounts_dealer_path(dealer), method: :put, data: { confirm: '您确认要置顶这个用户？' } %>
            <% end %>
          <% else %>
            <%= icon_link_to "显示", 'icon-eye-open', expose_accounts_dealer_path(dealer), method: :put, data: { confirm: '您确认要显示这个用户？' } %>
          <% end %>
        <% end %>
      <% end %>

      <%= t.action_link :rank do |dealer| %>
        <% if dealer.accepted? %>
          <% if dealer.rank_up? %>
            <%= icon_link_to "会员升级", 'icon-arrow-up', rank_up_accounts_dealer_path(dealer), method: :put, data: { confirm: '您确认要升级这个用户？' } %>
          <% end %>
          <% if dealer.rank_down? %>
            <%= icon_link_to "会员降级", 'icon-arrow-down', rank_down_accounts_dealer_path(dealer), method: :put, data: { confirm: '您确认要降级这个用户？' } %>
          <% end %>
        <% end %>
      <% end %>

      <%= t.actions :destroy %>

    <% end %>

  </div>
</div>