<table class="table">
  <thead>
    <tr>
      <th><%= translate_attribute_name :username, :account %></th>
      <td><%= @user.username %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= translate_attribute_name :user_type, :account %></th>
      <td>媒体</td>
    </tr>
    <tr>
      <th><%= translate_attribute_name :mobile, :account %></th>
      <td><%= @user.mobile %></td>
    </tr>
    <tr>
      <th><%= translate_attribute_name :company, :'account/detail' %></th>
      <td><%= @user.detail.company %></td>
    </tr>
    <tr>
      <th><%= translate_attribute_name :phone, :'account/detail' %></th>
      <td><%= @user.detail.phone %></td>
    </tr>
    <tr>
      <th><%= translate_attribute_name :description, :account %></th>
      <td><%= @user.description %></td>
    </tr>
  </tbody>
</table>