<%= simple_form_for(@brand3, html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <%= devise_error_messages! @brand3 %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :brand2_id, collection: Category::Brand2.to_select, input_html: { class: 'select2' } %>

  <%= f.input :image do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;"><img src="<%= @brand3.image.url(:medium) %>" /></div>
      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 20px;"></div>
      <div>
        <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">更换</span><input type="file" name="category_brand3[image]" /></span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
      </div>
    </div>
  <% end %>

  <%= f.button :submit, class: 'btn-submit' %>
<% end %>