<div class="row-fluid">
  <div class="span3">
    <%= render "category/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>车型名称管理 <small><%= link_to "添加", new_category_brand3_path %></small></h3>
    </div>

    <% @brand3s = @brand3s.includes(:brand, :brand2) %>

    <%= index_for @brand3s do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :image do |image| %>
        <%= image_tag(image.url(:small)) %>
      <% end %>
      <%= t.association :brand, using: :name %>
      <%= t.association :brand2, using: :name %>
      <%= t.attribute :name %>
      <%= t.action_link :edit %>
    <% end %>

  </div>
</div>