<div class="row-fluid">
  <div class="span3">
    <%= render "accounts/share/sidenav/admin" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>媒体管理 <small></small></h3>
    </div>

    <%= index_for @providers, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :avatar do |avatar| %>
        <%= image_tag(avatar.url(:thumb)) %>
      <% end %>
      <%= t.attribute :mobile %>
      <%= t.attribute :username %>
      <%= t.action_link :accept do |provider| %>
        <% unless provider.accepted? %>
          <%= icon_link_to "通过验证", 'icon-ok', accept_accounts_provider_path(provider), method: :put, data: { confirm: '您确认要验证这个用户？' } %>
        <% end %>
      <% end %>
      <%= t.action_link :display do |provider| %>
        <% if provider.accepted? %>
          <% if provider.displayed? %>
            <%= icon_link_to "隐藏", 'icon-eye-close', hide_accounts_provider_path(provider), method: :put, data: { confirm: '您确认要隐藏这个用户？' } %>
            <% if provider.sticked? %>
              <%= icon_link_to "取消置顶", 'icon-chevron-down', unstick_accounts_provider_path(provider), method: :put, data: { confirm: '您确认要取消置顶这个用户？' } %>
            <% else %>
              <%= icon_link_to "置顶", 'icon-chevron-up', stick_accounts_provider_path(provider), method: :put, data: { confirm: '您确认要置顶这个用户？' } %>
            <% end %>
          <% else %>
            <%= icon_link_to "显示", 'icon-eye-open', expose_accounts_provider_path(provider), method: :put, data: { confirm: '您确认要显示这个用户？' } %>
          <% end %>
        <% end %>
      <% end %>
      
      <%= t.action_link :destroy if can? :destroy, Accounts::Provider %>
      
    <% end %>

  </div>
</div>