<div class="page-header">
  <h1>公众号登陆 <small></small></h1>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <div class="row-fluid">
    <div class="span6">
      
      <%= f.input :mobile, autofocus: true %>
      <%= f.input :password %>

      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, label: false do %>
          <label class="checkbox">
            <%= f.check_box :remember_me, as: :boolean %> 记住账号
          </label>
        <% end %>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <%= f.button :submit, "用户登入", class: 'btn-large btn-success' %>
        </div>
      </div>
    </div>

    <div class="span6 right-box">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>