<div class="row-fluid">
  <div class="span3">
    <%= render "bcst/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>主持人管理 <small><a href="<%= new_bcst_host_path %>">添加</a></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有添加任何主持人！' if @hosts.empty? %>

    <% @hosts = @hosts.includes(:programmes) %>

    <%= index_for @hosts, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :avatar do |avatar| %>
        <%= image_tag(avatar.url(:thumb)) %>
      <% end %>
      <%= t.attribute :name %>
      <%= t.association :programmes, using: :title, join: '、' %>
      <%= t.actions :all %>
    <% end %>

  </div>
</div>