<table class="table">
  <thead>
    <tr>
      <th><%= translate_attribute_name :id, :bulk_purchasing %></th>
      <th><%= translate_attribute_name :image, :bulk_purchasing %></th>
      <th><%= translate_attribute_name :title, :bulk_purchasing %></th>
      <th><%= translate_attribute_name :bulk_purchasing_type, :bulk_purchasing %></th>
      <th><%= translate_attribute_name :expire_at, :bulk_purchasing %></th>
      <th><%= translate_attribute_name :vip_price, :bulk_purchasing %></th>
      <th><%= translate_attribute_name :price, :bulk_purchasing %></th>
    </tr>
  </thead>
  <tbody>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= tip.id %></td>
        <td><img src="<%= tip.image.url(:thumb) %>"></td>
        <td><%= tip.title %></td>
        <td><%= tip.bulk_purchasing_type %></td>
        <td><%= l tip.expire_at, format: :short %></td>
        <td><%= tip.vip_price %></td>
        <td><%= tip.price %></td>
        <td class="actions">
          <%= link_to content_tag(:i, '', class: 'icon-search'), tips_bulk_purchasing_path(tip) %>
          <%= link_to content_tag(:i, '', class: 'icon-pencil'), edit_tips_bulk_purchasing_path(tip) %>
          <%= link_to content_tag(:i, '', class: 'icon-remove'), tips_bulk_purchasing_path(tip), data: { method: :delete, confirm: '您确定要删除这个项目？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>