<div class="row-fluid">
  <div class="span3">
    <%= render "tips/shared/sidenav/dealer" %>
  </div>
  
  <div class="span8">
    <div class="page-header">
      <h3>团购订单列表 <small></small></h3>
    </div>

    <%= render 'shared/alert', message: '您还没有收到团购订单！' if @orders.empty? %>

    <table class="table">
      <thead>
        <tr>
          <th><%= translate_attribute_name :id, :order %></th>
          <th><%= translate_attribute_name :title, :order %></th>
          <th><%= translate_attribute_name :count, :order %></th>
          <th><%= translate_attribute_name :price, :order %></th>
          <th><%= translate_attribute_name :state, :order %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.title %></td>
            <td><%= order.detail.count %></td>
            <td><%= order.detail.price %></td>
            <td><%= order.state %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>