<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>图册管理</strong></span></li>

  <li<%= active? 'tips/manual_images#new' %>><a href="<%= new_tips_manual_image_path %>"><i class="icon-chevron-right"></i> 上传图片</a></li>
  <li<%= active? 'tips/manual_images#index' %>><a href="<%= tips_manual_images_path %>"><i class="icon-chevron-right"></i> 管理图册</a></li>

</ul>

<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>施工案例管理</strong></span></li>

  <li<%= active? 'tips/construction_cases#new' %>><a href="<%= new_tips_construction_case_path %>"><i class="icon-chevron-right"></i> 发布施工案例</a></li>
  <li<%= active? 'tips/construction_cases#index' %>><a href="<%= tips_construction_cases_path %>"><i class="icon-chevron-right"></i> 管理施工案例</a></li>

</ul>

<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>交易管理</strong></span></li>

  <li<%= active? 'tips/orders#bulk_purchasing2' %>><a href="<%= bulk_purchasing2_tips_orders_path %>"><i class="icon-chevron-right"></i> 团购订单</a></li>

</ul>

<ul class="nav nav-list sidenav affix-top">
  <li><span><strong>促销管理</strong></span></li>

  <li><span>团购</span></li>
  <li<%= active? 'tips/bulk_purchasing2s#new' %>><a href="<%= new_tips_bulk_purchasing2_path %>"><i class="icon-chevron-right"></i> 发布团购</a></li>
  <li<%= active? 'tips/bulk_purchasing2s#in_progress' %>><a href="<%= in_progress_tips_bulk_purchasing2s_path %>"><i class="icon-chevron-right"></i> 进行中的团购</a></li>
  <li<%= active? 'tips/bulk_purchasing2s#expired' %>><a href="<%= expired_tips_bulk_purchasing2s_path %>"><i class="icon-chevron-right"></i> 已结束的团购</a></li>

  <li><span>广告模板</span></li>
  <li<%= active? 'tips/ad_templates#edit' %>><a href="<%= edit_tips_ad_template_path %>"><i class="icon-chevron-right"></i> 管理广告模板</a></li>
</ul>
