<ul class="nav">
  <li<%= active? "dashboards" %>><a href="<%= dashboard_path %>">首页</a></li>
  <li<%= active? "admins/advertisements" %>><a href="<%= admins_advertisements_path %>">广告位管理</a></li>
  <li<%= active? "admins/dealers" %>><a href="<%= admins_dealers_path %>">服务商管理</a></li>
  <li<%= active? "admins/tips" %>><a href="<%= admins_tips_root_path %>">服务商项目管理</a></li>
  <li<%= active? "admins/users" %>><a href="<%= admins_users_path %>">车主管理</a></li>
  <li<%= active? "admins/admins" %>><a href="<%= admins_admins_path %>">管理员管理</a></li>
</ul>