<div class="row-fluid">
  <div class="span3">
    <%= render "statistic/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>客户列表 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '还没有用户关注您！' if @friends.empty? %>
    
    <% @friends = @friends.includes(:detail, :orders, reviews: [:order]) %>

    <%= index_for @friends, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.attribute :avatar do |avatar| %>
        <%= image_tag(avatar.url(:thumb)) %>
      <% end %>
      <%= t.attribute :username %>
      <%= t.attribute :brand %>
      <%= t.attribute :created_at, format: :short %>
      <%= t.attribute :total_cost_with_dealer, args: @user.id %>
      <%= t.attribute :last_ordered_at_with_dealer, args: @user.id, format: :short %>
      <%= t.attribute :last_stars_with_dealer, args: @user.id %>
    <% end %>

  </div>
</div>