<div class="row-fluid">
  <div class="<%= @adverts.any? ? 'span9' : 'span12' %>">

    <div class="page-header">
      <h3><%= @ad_template.title %> <small></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @ad_template.avatar.url(:medium) %>">
      </div>

      <div class="span9">
        <%= show_for @ad_template do |s| %>
          <%= s.attribute :product %>
          <%= s.attribute :product_type %>
          <%= s.attribute :price %>
        <% end %>
        <%= link_to "购买", buy_ad_template_path(@ad_template), class: 'pull-right btn btn-primary', data: { method: :post } %>
      </div>

    </div>
  </div>
  
  <div class="span3">
    <% @adverts.each do |advert| %>
      <%= image_tag advert.image.url(:medium) %>
    <% end %>
  </div>
</div>