<h3>你好，<%= @current_user.username %> <small>（<%= @current_user.mobile %>）</small></h3>

<div class="jumbotron"></div>

<!-- Example row of columns -->
<div class="row marketing">
  <div class="span4">
    <a href="<%= bulk_purchasing2s_path %>">
      <i class="icon-tag pull-left icon-5x"></i>
      <h4>团购</h4>
      <p class="muted">促销，进货的优惠。 </p>
    </a>
  </div>
  <div class="span4">
    <a href="<%= purchase_requestings_path %>">
      <i class="icon-rocket pull-left icon-5x"></i>
      <h4>限时求购</h4>
      <p class="muted">试试，在家找货。 </p>
    </a>
  </div>
  <div class="span4">
    <a href="<%= distributors_path %>">
      <i class="icon-magic pull-left icon-5x"></i>
      <h4>经销商大全</h4>
      <p class="muted">指尖上的商家。 </p>
    </a>
  </div>
  <div class="span4">
    <a href="<%= ad_templates_path %>">
      <i class="icon-gift pull-left icon-5x"></i>
      <h4>广告模板</h4>
      <p class="muted">精准，源于专业。 </p>
    </a>
  </div>
  <div class="span4">
    <a href="<%= tutorials_path %>">
      <i class="icon-film pull-left icon-5x"></i>
      <h4>在线教程</h4>
      <p class="muted">实时与前沿同步。 </p>
    </a>
  </div>
</div>