<h3>你好，<%= @current_user.username %> <small>（<%= @current_user.mobile %>）</small></h3>

<div class="row">
  <div class="span4 pull-right">
    <div class="well">
      <h3>系统公告</h3>
      <p class="indent">如果你在使用过程中有任何疑问或者建议，请加我们的公众账号进行咨询反馈：</p>
      <p class="indent"><strong>汽车堂</strong></p>
      <%= image_tag "qrcode.png", class: 'well no-padding' %>
      <p>广告模板上传工作QQ：1619906577</p>
    </div>
  </div>

  <div class="span8">

    <div class="jumbotron"></div>

    <!-- Example row of columns -->
    <div class="row marketing">
      <div class="span4">
        <a href="<%= statistic_friends_path %>">
          <i class="icon-user pull-left icon-5x"></i>
          <h4>客户管理</h4>
          <p class="muted">管理，独有一套。 </p>
        </a>
      </div>
      <div class="span4">
        <a href="<%= tips_root_path %>">
          <i class="icon-book pull-left icon-5x"></i>
          <h4>业务管理</h4>
          <p class="muted">业务，另辟蹊径。 </p>
        </a>
      </div>
      <div class="span4">
        <a href="<%= dashboard_bulk_purchasing2s_path %>">
          <i class="icon-tag pull-left icon-5x"></i>
          <h4>团购</h4>
          <p class="muted">促销，展新品清库存。 </p>
        </a>
      </div>
      <div class="span4">
        <a href="<%= dashboard_purchase_requestings_path %>">
          <i class="icon-rocket pull-left icon-5x"></i>
          <h4>限时求购</h4>
          <p class="muted">看看，捡来的商机。 </p>
        </a>
      </div>
      <div class="span4">
        <a href="<%= dashboard_distributors_path %>">
          <i class="icon-magic pull-left icon-5x"></i>
          <h4>经销商大全</h4>
          <p class="muted">网上再造一个店。 </p>
        </a>
      </div>
      <div class="span4">
        <a href="<%= dashboard_tutorials_path %>">
          <i class="icon-film pull-left icon-5x"></i>
          <h4>在线教程</h4>
          <p class="muted">实时与前沿同步。 </p>
        </a>
      </div>
      <div class="span4">
        <a href="<%= tips_root_path %>">
          <i class="icon-cog pull-left icon-5x"></i>
          <h4>设置</h4>
          <p class="muted">资料管理。 </p>
        </a>
      </div>
    </div>
  </div>
  
</div>