<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3><%= @bulk_purchasing2.title %> <small><a href="<%= edit_tips_bulk_purchasing2_path(@bulk_purchasing2) %>">编辑</a></small></h3>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <img src="<%= @bulk_purchasing2.image.url(:medium) %>">
      </div>
      <div class="span9">
        <%= show_for @bulk_purchasing2 do |s| %>
          <%= s.attribute :bulk_purchasing_type %>
          <%= s.attribute :expire_at %>
          <%= s.attribute :vip_price %>
          <%= s.attribute :price %>
          <%= s.attribute :inventory %>
          <%= s.attribute :description %>
        <% end %>
      </div>
    </div>
  </div>

</div>