<% content_for :title do %>
  注册帐号
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
  <%= devise_error_messages! %>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell input-row"><%= f.input :mobile, autofocus: true %></li>
      <li class="table-view-cell input-row"><%= f.input :password %></li>
      <li class="table-view-cell input-row"><%= f.input :password_confirmation %></li>
    </ul>
  </div>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell input-row"><%= f.input :username %></li>
      <li class="table-view-cell input-row"><%= f.input :sex_id, collection: Accounts::Account::Sex.to_select, as: :radio_buttons %></li>
      <li class="table-view-cell input-row"><%= f.input :area_id, collection: Category::Area.to_grouped_select, as: :grouped_select, group_method: :cities %></li>
    </ul>
  </div>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell input-row"><%= f.input :brand_id, collection: Category::Brand.to_select %></li>
      <li class="table-view-cell input-row"><%= f.input :plate_num, required: true %></li>
    </ul>
  </div>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell input-row"><%= f.input :description, label: "个性签名", input_html: { rows: 4 } %></li>
    </ul>
  </div>
  <div class="card-no-border">
    <%= f.button :submit, "注册帐号", class: 'btn-positive btn-block' %>
  </div>
<% end %>
