<% @dealer.reviews.load_target %>
<div class="dl-horizontal dl-span9">
  <dl><strong>上月交易动态</strong></dl>
  <dl>
    <dt>上月完成订单</dt>
    <dd><%= @dealer.recent_orders_count %> 笔</dd>
  </dl>
  <dl>
    <dt>总成交额</dt>
    <dd><%= @dealer.recent_total_cost %> 元</dd>
  </dl>
  <dl>
    <dt>交易用户</dt>
    <dd><%= @dealer.recent_ordered_users_count %> 个</dd>
  </dl>
  <dl>
    <dt>本月综合评分</dt>
    <dd>
      <%= print_stars @dealer.recent_stars %>
    </dd>
  </dl>
  <dl>&nbsp;</dl>
  <dl class="no-border"><strong>综合数据</strong></dl>
  <dl>
    <dt>交易达成率</dt>
    <dd><%= @dealer.bulk_purchasing_goal_attainment %> %（团购）、<%= @dealer.mending_goal_attainment %> %（保养专修）、<%= @dealer.cleaning_goal_attainment %> %（洗车美容）</dd>
  </dl>
  <dl>
    <dt>店铺总评分</dt>
    <dd>
      <%= print_stars @dealer.stars %>
    </dd>
  </dl>
  <dl>
    <dt>应收款</dt>
    <dd><%= 0 %> 元</dd>
  </dl>
  <dl>
    <dt>应付佣金</dt>
    <dd><%= 0 %> 元</dd>
  </dl>
</div>
