<% content_for :title do %>
  服务项目
<% end %>

<div class="card">
  <ul class="table-view">
    <% @test_drivings.group_by{|o|o.brand}.each do |brand, test_drivings| %>
      <li class="table-view-cell"><%= brand %></li>
      <% test_drivings.group_by{|o|o.series}.each do |series, test_drivings| %>
        <li class="table-view-cell"><%= series %></li>
        <% test_drivings.each do |test_driving| %>
          <li class="table-view-cell media">
            <%= link_to weixin_dealer_test_driving_path(@dealer, test_driving), class: "navigate-right", data: { transition: "slide-in" } do %>
              <div class="media-title"><%= test_driving.title %></div>
              <%= image_tag test_driving.image.url(:thumb), class: "media-object pull-left" %>
              <div class="media-body">
                <p>已购人数：<%= test_driving.orders_count %></p>
                <p>评分：<%= print_stars test_driving.stars, false %></p>
                <p>价格：<%= test_driving.price %></p>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
