<%= simple_form_for(@vip_card, html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <%= devise_error_messages! @vip_card %>

  <%= f.input :title, autofocus: true, input_html: { class: 'input-xlarge' } %>
  <%= f.input :image do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;"><img src="<%= @vip_card.image.url(:medium) %>" /></div>
      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 20px;"></div>
      <div>
        <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">更换</span><input type="file" name="tips_vip_card[image]" /></span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
      </div>
    </div>
  <% end %>

  <%= f.input :vip_price %>
  <%= f.input :price, hint: '填数字即可，单位：元' %>

  <%= f.input :description, input_html: { rows: 4, class: 'input-xxlarge' } %>
  
  <hr>
  <div class="control-group">
    <label class="control-label"><strong>服务项目信息</strong></label>
  </div>

  <div class="vip_card_items">
    <%= f.fields_for :vip_card_items do |ff| %>
      <%= render 'vip_card_item_fields', f: ff %>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= link_to_add_association '添加服务项目', f, :vip_card_items, class: 'btn' %>
      </div>
    </div>
  </div>

  <hr>
  <%= f.input :upload, as: :file, label: '会员卡迁移数据', hint: "无迁移数据请留空此栏<br>如需迁移数据，请下载#{link_to('会员卡数据迁移模板', '/会员卡数据迁移模板.xls')}，并使用Excel打开编辑<br>注意事项：<br>1.此种方式导入的会员卡均为已付款会员卡，请谨慎使用！<br>2.导入数据不会覆盖原数据。<br>3.导入数据中客户手机号在系统中不存在，或服务项目已使用次数大于服务项目总数，会导致单条数据导入失败，但不影响其他数据导入。" do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <span class="btn btn-file"><span class="fileupload-new">选择文件</span><span class="fileupload-exists">更换</span><input type="file" name="tips_vip_card[upload]" /></span>
      <span class="fileupload-preview"></span>
      <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
    </div>
  <% end %>

  <%= f.button :submit, class: 'btn-submit' %>
<% end %>