<div class="row-fluid">
  <div class="span3">
    <%= render "tips/share/sidenav/#{@user_type}" %>
  </div>
  
  <div class="span9">
    <div class="page-header">
      <h3>求购项目管理 <small></small></h3>
    </div>

    <%= render 'share/alert', message: '您还没有创建任何求购！' if @vip_cards.empty? %>

    <% @vip_cards = @vip_cards.includes(:dealer) if @user.admin? %>

    <%= index_for @vip_cards, class: :datatable do |t| %>
      <%= t.attribute :id %>
      <%= t.association :dealer, using: :username if @user.admin? %>
      <%= t.attribute :image do |image| %>
        <%= image_tag(image.url(:thumb)) %>
      <% end %>
      <%= t.attribute :title %>
      <%= t.attribute :vip_price %>
      <%= t.attribute :status %>
      <%= t.actions :show, :edit %>
      <%= t.action_link :destroy do |vip_card| %>
        <% if vip_card.displayed? %>
          <%= icon_link_to "作废", 'icon-remove', disable_tips_vip_card_path(vip_card), method: :put, data: { confirm: '您确认要隐藏这个项目？' } %>
        <% else %>
          <%= icon_link_to "重新启用", 'icon-ok', reenable_tips_vip_card_path(vip_card), method: :put, data: { confirm: '您确认要显示这个项目？' } %>
        <% end %>
      <% end %>
    <% end %>


  </div>
</div>