<% content_for :title do %>
  账号信息
<% end %>

<div class="card">
  <ul class="table-view table-view-block">
    <li class="table-view-cell">
      个性签名
      <%= simple_format @user.description %>
    </li>
  </ul>
</div>

<div class="card">
  <ul class="table-view table-view-block">
    <li class="table-view-cell">
      昵称：<%= @user.username %>
    </li>
    <li class="table-view-cell">
      性别：<%= @user.sex %>
    </li>
    <li class="table-view-cell">
      地区：<%= @user.area %>
    </li>
  </ul>
</div>
<div class="card">
  <ul class="table-view table-view-block">
    <li class="table-view-cell">
      车型：<%= @user.try :brand %>
    </li>
    <li class="table-view-cell">
      车牌号：<%= @user.try :plate_num %>
    </li>
  </ul>
</div>
<div class="card-no-border">
  <%= link_to "修改个人资料", edit_weixin_account_registration_path, class: "btn btn-positive btn-block" %>
</div>
<div class="card-no-border">
  <%= link_to "退出登录", destroy_weixin_account_session_path, class: "btn btn-negative btn-block" %>
</div>
