<% if @user_type == :admin %>
  <% content_for :title do %>
    后台管理
  <% end %>
<% end %>

<!DOCTYPE html>
<html>
  <%= render 'share/head' %>
  <body>
    <div class="container">
      <%= render 'share/header' %>

      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <% case @user_type %>
            <% when :provider, :dealer, :distributor,:club, :admin %>
              <%= render "share/nav/#{@user_type}" %>
            <% else %>
              <%= render 'share/nav/welcome' %>
            <% end %>
          </div>
        </div>
      </div><!-- /.navbar -->

      <%= render 'share/notices' %>

      <!-- Container -->
      <%= yield %>
      
      <%= render 'share/footer' %>
    </div> <!-- /container -->
  </body>
</html>
